/* App.css */
.App {
  text-align: center;
}

.product-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.card:hover {
  transform: scale(1.05);
}

.card-title {
  font-size: 16px;
  color: black !important;
  font-weight: 700;
}

.card-text {
  font-size: 14px;
  color: black;
}

.card-text.flex-grow-1 {
  flex-grow: 1;
}

.text-price {
  font-weight: bold;
  padding-top: 32px;
}

.text-products {
  text-align: center;
  padding: 50px;
  text-transform: uppercase;
}

/* DetailPage.css */
.detail-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.detail-title {
  font-size: 24px;
  font-weight: bold;
  margin: 30px;
}

.detail-image {
  width: 300px;
  height: auto;
  margin-bottom: 30px;
}

.detail-description {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
}

.detail-price {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.detail-rating {
  font-size: 16px;
  margin-bottom: 20px;
}

.detail-features {
  width: 100%;
}
